language: go
script: go test -race -cpu 1,2,4 -v -timeout 5m ./...
sudo: false
go:
  - 1.12.x
  - 1.13.x
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/737918445727692fe8d1
    on_success: "change"  # options: [always|never|change] default: always
    on_failure: "always"  # options: [always|never|change] default: always
    on_start: false     # default: false
before_script:
  - curl -sL https://github.com/coreos/etcd/releases/download/v3.3.7/etcd-v3.3.7-linux-amd64.tar.gz | tar xz
  - etcd-v3.3.7-linux-amd64/etcd 2> /dev/null &
